---
import SeoHead from '../components/SeoHead.astro';
import SiteHero from '../components/SiteHero.astro';
import { SITE_METADATA } from '../lib/site-metadata';
import styles from './index.module.css';

const pageTitle = SITE_METADATA.defaultTitle;
---

<!doctype html>
<html lang='fr'>
  <head>
    <SeoHead title={pageTitle} canonicalPath='/' />
  </head>
  <body class={styles.page}>
    <main>
      <SiteHero />
    </main>
  </body>
</html>
