---
import HomePage from '../components/home/HomePage.astro';
import SeoHead from '../components/SeoHead.astro';
import { getMarketingPage } from '../lib/pages';

const page = getMarketingPage('/');
---

<!doctype html>
<html lang='fr'>
  <head>
    <SeoHead
      title={page.title}
      description={page.metaDescription}
      canonicalPath={page.slug}
    />
  </head>
  <body>
    <HomePage page={page} />
  </body>
</html>
